@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Rubik+Mono+One&display=swap');
html {
    scroll-behavior: smooth;
}
.logo {
    width: 50%;
    margin: auto;
}
.bgi {
    position: fixed;
    width: 100%;
    height: 100%;
    filter: blur(7.5px); 
    position: fixed;
    margin-left: -9px;
    margin-top: -9px;
    z-index: -1;
}
.form-control:focus, .form-select:focus {
    box-shadow: 0 0 0 .25rem rgba(221, 89, 15, .25);
    border: rgba(221, 89, 15, .25);
}
.orange-text {
    color: #de6d2c;
}
.w:before {
    content: '';
    display: inline-block;
    height: 100vh;
    vertical-align: middle;
}
.w {
    background-size: 100% 100%;
}
.dmt {
    display: inline-block;
    vertical-align: middle;
    font-family: 'Rubik Mono One', sans-serif;
    color: #fff;
}
.dmt2 {
    display: inline-block;
    vertical-align: middle;
}
.opt {
    font-family: 'Montserrat', sans-serif;
}
.btn-primary {
    background: #de6d2c;
    border: 1px solid #de6d2c;
}
.btn-primary:hover {
    background: #dd590f;
    border: 1px solid #dd590f;
}
.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    background: #dd590f;
    border: 1px solid #dd590f;
}
.btn-outline-primary {
    border: 1px solid #de6d2c;
    color: #de6d2c;
}
.btn-outline-primary:hover {
    border: 1px solid #de6d2c;
    color: #fff;
    background: #de6d2c;
}
.btn-outline-primary:active {
    border: 1px solid #de6d2c;
    color: #fff;
    background: #de6d2c;
}
main {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}