.logo {
    width: 50%;
    margin: auto;
}
.orange-form:focus {
    box-shadow: 0 0 0 .25rem rgba(221, 89, 15, .25);
    border: rgba(221, 89, 15, .25);
}
.btn-primary {
    background: #de6d2c;
    border: #de6d2c;
}
.btn-primary:hover {
    background: #dd590f;
    border: #dd590f;
}
main {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}