{% extends 'base.html' %}

{% block title %}Booking{% endblock %}

{% block content %}
<h1 class="text-end orange-text">Администрирование</h1>
<div class="row">
    <div class="col-6">
        <div class="d-grid gap-3 my-3 col">
            <h1 class="display-5 m-0">1 ноября - пн</h1>
            <div class="bg-color rounded-3">
                <h5 class="ms-3 mt-2">Танцы 6:30-10:00</h5>
            </div>
            <div class="bg-color rounded-3">
                <h5 class="ms-3 mt-2">Спорт 16:30-20:00</h5>
            </div>
        </div>
        <div class="d-grid gap-3 my-3 col">
            <h1 class="display-5 m-0">2 ноября - вт</h1>
            <div class="bg-color rounded-3">
                <h5 class="ms-3 mt-2">Танцы 6:30-10:00</h5>
            </div>
            <div class="bg-color rounded-3">
                <h5 class="ms-3 mt-2">Спорт 16:30-20:00</h5>
            </div>
        </div>
        <div class="d-grid gap-3 my-3 col">
            <h1 class="display-5 m-0">3 ноября - ср</h1>
            <div class="bg-color rounded-3">
                <h5 class="ms-3 mt-2">Танцы 6:30-10:00</h5>
            </div>
            <div class="bg-color rounded-3">
                <h5 class="ms-3 mt-2">Спорт 16:30-20:00</h5>
            </div>
        </div>
    </div>
    <div class="col" id="inf">
        <div class="mt-3">
            <h1>Название мероприятия</h1>
            <h3>Тип мероприятия</h3>
            <p><small>ываывашфвпафвапфшывашщршгрврфщврашпывгашп</small></p>
            <p>Зал</p>
            <h3>Оборудование</h3>
            <p>sdf - 3</p>
            <p>sdf - 3</p>
            <p>sdf - 3</p>
            <p>sdf - 3</p>
            <p>sdf - 3</p>
            <h3>Контактные данные</h3>
            <p>Плюшкина Афанасья Маркеровна</p>
            <p>телефон</p>
            <p>email</p>
        </div>
        <div class="mt-3">
            <h1>Название мероприятия</h1>
            <h3>Тип мероприятия</h3>
            <p><small>ываывашфвпафвапфшывашщршгрврфщврашпывгашп</small></p>
            <p>Зал</p>
            <h3>Оборудование</h3>
            <p>sdf - 3</p>
            <p>sdf - 3</p>
            <p>sdf - 3</p>
            <p>sdf - 3</p>
            <p>sdf - 3</p>
            <h3>Контактные данные</h3>
            <p>Плюшкина Афанасья Маркеровна</p>
            <p>телефон</p>
            <p>email</p>
        </div>
    </div>
</div>
{% endblock %}