{% extends 'base.html' %}

{% block title %}Booking{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <label class="form-label">Дата и время</label>
        <div class="input-group mb-3 col">
            <input type="date" class="form-control mb-2" placeholder="Название мероприятия">
            <input type="time" class="form-control mb-2" placeholder="Название мероприятия">
        </div>
        <label class="form-label">Мероприятие</label>
        <input type="text" class="form-control mb-2" placeholder="Название мероприятия">
        <input type="text" class="form-control mb-2" placeholder="Тип мероприятия">
        <textarea type="text" class="form-control mb-2" placeholder="Описание мероприятия"></textarea>
        <label class="form-label">Выбор зала</label>
        <label class="form-label">Оборудование</label>
        <div class="">
            <div class="input-group mb-3 col">
                <span class="input-group-text">Стул</span>
                <input type="text" class="form-control">
            </div>
            <div class="input-group mb-3 col">
                <span class="input-group-text">ТВ LG со стойками</span>
                <input type="text" class="form-control">
            </div>
            <div class="input-group mb-3 col">
                <span class="input-group-text">Стол (коричневый)</span>
                <input type="nutextber" class="form-control">
            </div>
            <div class="input-group mb-3 col">
                <span class="input-group-text">Стол (белый)</span>
                <input type="nutextber" class="form-control">
            </div>
            <div class="input-group mb-3 col">
                <span class="input-group-text">Вешалка для одежды</span>
                <input type="nutextber" class="form-control">
            </div>
            <div class="input-group mb-3 col">
                <span class="input-group-text">Журнальный стол</span>
                <input type="nutextber" class="form-control">
            </div>
            <div class="input-group mb-3 col">
                <span class="input-group-text">Диван 2х местный</span>
                <input type="nutextber" class="form-control">
            </div>
            <div class="input-group mb-3 col">
                <span class="input-group-text">Стул барный</span>
                <input type="nutextber" class="form-control">
            </div>  
            <div class="input-group mb-3 col">
                <span class="input-group-text">Колонки со стойками</span>
                <input type="nutextber" class="form-control">
            </div>
            <div class="input-group mb-3 col">
                <span class="input-group-text">Бзовая станция радио микрофона</span>
                <input type="nutextber" class="form-control">
            </div>
            <div class="input-group mb-3 col">
                <span class="input-group-text">Микшер</span>
                <input type="nutextber" class="form-control">
            </div>
            <div class="input-group mb-3 col">
                <span class="input-group-text">Стол (бежевый)</span>
                <input type="nutextber" class="form-control">
            </div>
            <div class="input-group mb-3 col">
                <span class="input-group-text">Журнальный стол</span>
                <input type="nutextber" class="form-control">
            </div>
            <div class="input-group mb-3 col">
                <span class="input-group-text">Стол</span>
                <input type="nutextber" class="form-control">
            </div>
        </div>
        <label class="form-label">Контактные данные</label>
        <input type="text" class="form-control mb-2" placeholder="ФИО / Организация">
        <input type="text" class="form-control mb-2" placeholder="Телефон">
        <input type="text" class="form-control mb-2" placeholder="Email">
    </div>
    <div class="col">
        <h1 class="form-label">Мероприятие</h1>
        <p>ergqergqergqrgqergqe<br>agsgagergqetg<br>afdgaga<br>agsgagergqetg<br>afdgaga<br>agsgagergqetg<br>afdgaga</p>
        <h1 class="form-label">Выбор зала</h1>
        <p>ergqergqergqrgqergqe<br>agsgagergqetg<br>afdgaga<br>agsgagergqetg<br>afdgaga<br>agsgagergqetg<br>afdgaga</p>
        <h1 class="form-label">Оборудование</h1>
        <p>ergqergqergqrgqergqe<br>agsgagergqetg<br>afdgaga<br>agsgagergqetg<br>afdgaga<br>agsgagergqetg<br>afdgaga</p>
        <h1 class="form-label">Контактные данные</h1>
        <p>ergqergqergqrgqergqe<br>agsgagergqetg<br>afdgaga<br>agsgagergqetg<br>afdgaga<br>agsgagergqetg<br>afdgaga</p>
    </div>
</div>
{% endblock %}