{% extends 'layout.html' %}

{% block title%}Home page{% endblock %}

{% block content %}
    <script>
        function check(){
            var a=document.getElementById("password1").value;
            var b=document.getElementById("password2").value;
            var f=document.getElementById("fullname").value;
            var u=document.getElementById("username").value;
            var e=document.getElementById("email").value;

            if (a == "" || b == "" || f == "" || u == "" || e == ""){
                document.getElementById("messages").innerHTML="Fill in all the form fields! ";
                return false;
            }
            if (a != b){
                document.getElementById("messages").innerHTML="Different passwords!";
                return false;
            }
        }
    </script>
    <div class="container">
        <form action="reg-form" method="post" onsubmit="return check()">
            <div class="title">Registration</div>
            <div class="user-details">
                <div class="input-box">
                    <span class="details">Full Name</span>
                    <input id="fullname" type="text" name="fullname" placeholder="Enter your name">
                </div>
                <div class="input-box">
                    <span class="details">Username</span>
                    <input id="username" type="text" name="username" placeholder="Enter your username">
                </div>
                <div class="input-box">
                    <span class="details">Email</span>
                    <input id="email" type="email" name="email" placeholder="Enter your email">
                </div>
                <div class="input-box">
                    <span class="details">Password</span>
                    <input id="password1" type="password" name="password" placeholder="Enter your password">
                </div>
                <div class="input-box">
                    <span class="details">Confirm Password</span>
                    <input id="password2" type="password" name="password" placeholder="Confirm your password">
                </div>
            </div>
            <div class="wrong">
                <span id="messages"></span>
            </div>
            <div class="button">
                <input type="submit" name="" value="Register">
            </div>
        </form>
    </div>
{% endblock content %}