{% extends 'base.html' %}

{% block title%}Home page{% endblock %}

{% block content %}
{% load static %}
<main class="form-signin w-100 m-auto">
    <form class="justify-content-center text-center" method="post">
        {% csrf_token %}
        <div class="logo mb-2">
            <img src="{% static 'img/logo.png' %}" class="card-img-top" alt="">
        </div>
        <input class="form-control orange-form mb-2" placeholder="Логин" name="login">
        <input class="form-control orange-form mb-2" placeholder="ФИО/Организация" name="name">
        <input class="form-control orange-form mb-2" placeholder="Телеграм" name="tg">
        <input class="form-control orange-form mb-2" placeholder="Email" name="email">
        <input class="form-control orange-form mb-2" placeholder="Придумайте пароль" name="password">
        <button class="w-100 btn btn-lg btn-primary" type="submit">Зарегистрироваться</button>
    </form>
</main>
{% endblock content %}